<head>
    <title>Inicio</title>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap" rel="stylesheet">
</head>

<body class="Fundo_degra">
    <%- include('menu'); %>
    <%- include('style'); %>


    <div class="divfraseInicio d-flex justify-content-between align-items-center vh-100">
        <div class="text-container">
            <h1 class="fraseInicio fraseInicio1 mb-4">Aprenda e Aprimore</h1>
            <h1 class="fraseInicio fraseInicio1">no esporte se transforme</h1>

            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <% if (usuarioLogado) { console.log(usuarioFoto) %> <!-- Verifica se o usuário está logado -->
                    <li class="nav-item d-flex flex-column align-items-center fotoEntrar"> <!-- flexbox para centralizar -->
                        <img src="/fotos/<%= usuarioFoto %>" alt="<%= userName %>" width="60" height="60" class="rounded-circle"> <!-- Exibe a foto -->
                        <span class="texto_nav" style="margin-top: 10px;"><%= userName %></span> <!-- Exibe o nome do usuário -->
                    <% } else { %> <!-- Caso contrário, exibe o botão "Entrar" -->
                        <a href="/login" class="btn d-flex align-items-center justify-content-center botaoEntrar mt-4">
                            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-person-fill me-2" viewBox="0 0 16 16">
                                <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
                            </svg>
                            Entrar
                        </a>
                    <% } %>
            </ul>
        </div>

        <img src="https://i.ibb.co/GR6Zcrk/basquetejogador.png" alt="basquetejogador" style="width: 40%; height: auto; margin-right: 10%; transform: rotate(-15deg);"> <!-- Imagem à direita -->

    </div>
    <%- include('footer'); %>
</body>